@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

.header1 {
  width: 1440px;
  margin: auto;
  background-color: rgba(42, 157, 143, 1);
}

.logo1 {
  width: 45.996px;
  height: 46px;
  margin-left: 130px;
  display: inline-block;
  vertical-align: middle;
}

.nav1 {
  display: inline-block;
  list-style: none;
}

.li1 {

  display: inline-block;
  vertical-align: middle;
}

.Text {
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Nerko One', cursive;

}

.m_post1 {
  margin-left: 357px;
}

.m_post2 {
  margin: 0 52px;
}

.Bergabung {
  font-size: 20px;
  color: rgba(42, 157, 143, 1);
  background-color: #FFF;
  display: inline-block;
  margin: 42px 0;
  margin-left: 373px;
  padding: 8px 16px;
}

.info {
  margin: 200px auto;
  width: 780px;
  margin-top: 200px;
  margin-left: 549px;
}

.title1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500px;
  color: #4D4D4D;
  line-height: 130%;
  letter-spacing: 0.24px;
}

.paragraph1 {
  font-size: 20px;
  line-height: 150%;
  font-family: 'Nerko One', cursive;
}

.top_one {
  margin: 60px 0;
}

.tree {
  width: 1440px;
  background-color: #C2F3EE;
  margin: 200px 0;
}

.photo1 {
  padding: 80px 130px;
  vertical-align: middle;
}

div {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  color: #272727;
  margin-bottom: 27px;
}

.paragraph2 {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #515151;
  font-style: italic;
}

.Text2 {
  display: inline-block;
  vertical-align: middle;
}

.button {
  background-color: #2A9D8F;
  padding: 11px 16px;
  color: rgba(255, 255, 255, 1);
  margin-top: 45px;
}

.nature {
  width: 1180px;
  margin: auto;
}

.title2 {
  font-size: 48px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.24px;
  font-weight: 500;
  color: rgba(77, 77, 77, 1);
  margin: auto;
}

.image {
  margin-top: 54px;
}

.name {
  color: #535353;
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 200px;
  line-height: 36px;
  letter-spacing: 0.12px;
  font-style: normal;
}

.mountain {
  color: #535353;
  margin-left: 20px;
  letter-spacing: 0.12px;
  line-height: 36px;
  font-style: normal;
}

footer {
  width: 1440px;
  margin: auto;
  background-color: #2A9D8F;
}

.logo2 {
  width: 98px;
  height: 98px;
  padding: 22px 27.359px 21.621px 28px;
  display: inline-block;
  vertical-align: middle;
}

h4 {
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
  color: #FFF;
}

.li2 {
  color: #FFF;
  list-style: none;
  margin-top: 21PX;
  font-size: 18px
}

.EVENT {
  margin-bottom: 5px;
}

.h4_and_li {
  margin-left: 700px;
  vertical-align: middle;

}

.second_lsit {
  display: inline-block;
  vertical-align: middle;
}

.Programs {
  margin-bottom: 21px;
}